#Tuples
Tuples/

#Plots
plots/

#Examples
examples/

#Packages
DaVinciDev*
UraniaDev*

#Compilation stuff
*.so
*.d
*.pcm
*.out

#Emacs shit
*~

#Sublime shittier
*.sublime-project
*.sublime-workspace
#VSCode
*.code-workspace
